:root{
  /* Шрифты пишутся базовые в рут именно! */
  font-family: 'Arial Narrow', sans-serif;
  font-size: 16px;
}
.wrapper-header{
  background-color: #333;
  color: #eee;
}
.header{
  display: flex;
  flex-wrap: wrap;
  /* 
    Будем не через джастифай + флекс бейз сайз
    а через марджин авто (последние 2 свойства
    в хедер нот контакт селекторе! 
  */
  /* justify-content: space-between; */
  align-items: center;
  min-width:  290px;
  /* Именно проценты, смотреть в конспекте почему */
  min-height: 100%;
  width: 95%;
  /* Для больших экранов ограничиваем, иначе будет не удобно
  По бокам от враппера может быть реклама или комментарии
  15 градусов - удобный угол обзора чтобы читать что-то не крутя головой. */
  max-width: 920px;
  padding: 0.5em 0;
  margin: auto;
}
header>*:not(.contact){
  /* 
    Это первый способ выравнивания (джастифай-контент задан долж. быть)
    Верхушка не врапается так-как не задан размер
    Не изменяться в размерах и четко 550px стандартная ширина
    Зазвичай ці варпи робляться медіа-запитами, але ми тестуємо флекси
  */
  /* flex: 0 1 300px; */

  /* Это второй способ выравнивания: */
  margin-right: auto;
  /* Кодом ниже мы делаем паддинг,  чтобы при уменьшении
  окна браузера меню горизонтальное на лого не заходило. 
  В реале вместо этого используем медиазапросы (но мы учимся)*/
  padding-right: 3em;
}
.logo{
  font-family: "Roboto Slab", serif;
  font-size: 2em;
  font-weight: 300;
}
nav{
  flex: 0 1 auto;
}
.nav-list{}
.nav-item{
  display: inline-block;
}
.nav-link{
  display: block;
  padding: 1em;
  padding-left: 0;
}
.contact{
  /* Можно и блок, потому что он в флекс макете, будет тоже самое */
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #aaa;
}